.waitlist-form-cont {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.waitlist-email-input {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 10px;
    outline: none;
    border: 1px solid rgb(121, 121, 121);
    border-radius: 17px;
    background-color: black;
    height: 20px;
    width: 320px;
    color: white;
    font-size: 15px;
}

.waitlist-email-input-submit-button {
    margin-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    transition: .5s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.join-waitlist-btn-text {
    font-size: 19px;
    font-weight: 500;
}

.waitlist-email-input-submit-button:hover {
    background-color: rgb(207, 207, 207);
}

.join-waitlist-btn-icon {
    width: 21px;
    margin-left: 190px;
}

.waitlist-early-access-text {
    background: linear-gradient(90deg, #ffffff, #a4a4a4);
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 80px;
    text-align: center;
}